/* el-card */
.el-card .el-card__body {
  padding: calc(var(--spacing) * 6);
}

/* el-dialog */
.el-dialog {
  padding: 0;
}
.el-dialog .el-dialog__header {
  display: flex;
  padding: calc(var(--spacing) * 6);
}
.el-dialog .el-dialog__header .el-dialog__title {
  line-height: 1;
}
.el-dialog .el-dialog__header .el-dialog__headerbtn {
  height: calc(var(--spacing) * 16 + 2px);
  width: calc(var(--spacing) * 16 + 2px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.el-dialog .el-dialog__header .el-dialog__headerbtn .el-icon {
  font-size: 18px;
}
.el-dialog .el-dialog__footer {
  padding: calc(var(--spacing) * 6);
}
.el-dialog.is-fullscreen {
  display: flex;
  flex-direction: column;
}
.el-dialog.is-fullscreen .el-dialog__body {
  flex: 1;
  overflow: auto;
}

/* el-form-item */
.el-form-item {
  margin-bottom: calc(var(--spacing) * 6);
}
.el-form-item .el-form-item__label {
  display: flex;
  gap: var(--spacing);
  align-items: center;
}
.el-form-item.is-required:not(.is-no-asterisk).asterisk-left > .el-form-item__label:before {
  content: '必填';
  background-color: var(--el-color-danger-light-8);
  border-radius: 2px;
  font-size: 8px;
  line-height: 1;
  padding: calc(var(--spacing) / 2) var(--spacing);
  margin: 0;
}
